In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
% matplotlib inline

In [3]:
dt = pd.read_csv(r'NASA\\temprature.csv')

In [5]:
dt.head()

    Source  Year    Mean
0     GCAG  2016  0.9363
1  GISTEMP  2016  0.9900
2     GCAG  2015  0.8998
3  GISTEMP  2015  0.8700
4     GCAG  2014  0.7408

In [6]:
dt = dt.set_index("Source")
dt = dt.drop("GCAG", axis=0)

In [9]:
dt.head()

         Year  Mean
Source
GISTEMP  2016  0.99
GISTEMP  2015  0.87
GISTEMP  2014  0.74
GISTEMP  2013  0.65
GISTEMP  2012  0.63

In [31]:
dt = dt.iloc[::-1]

In [32]:
x = 0
tempp_Grth = list()
for y in dt['Mean']:
    tempp_Grth.append(y-x)
    x = y

In [33]:
tempp_Grth

[-0.2,
 0.08000000000000002,
 0.01999999999999999,
 -0.10999999999999999,
 -0.07000000000000003,
 -0.03999999999999998,
 0.010000000000000009,
 -0.020000000000000018,
 0.13,
 0.08000000000000002,
 -0.25,
 0.13,
 -0.030000000000000027,
 -0.02999999999999997,
 -0.010000000000000009,
 0.1,
 0.06,
 0.039999999999999994,
 -0.17000000000000004,
 0.12000000000000002,
 0.07,
 -0.06,
 -0.12000000000000002,
 -0.07999999999999996,
 -0.09000000000000002,
 0.15999999999999998,
 0.05000000000000002,
 -0.17,
 -0.02999999999999997,
 -0.03999999999999998,
 0.04999999999999999,
 -0.020000000000000018,
 0.09000000000000002,
 0.009999999999999953,
 0.18000000000000002,
 0.05,
 -0.23000000000000004,
 -0.06,
 0.14,
 0.04000000000000001,
 -0.05000000000000002,
 0.060000000000000026,
 -0.07000000000000003,
 0.040000000000000036,
 -0.040000000000000036,
 0.07000000000000003,
 0.10999999999999999,
 -0.10999999999999999,
 0.0,
 -0.15,
 0.21,
 0.06,
 -0.08000000000000002,
 -0.11999999999999997,
 0.14999999999999997,
 -0.06,
 0.05000000000000002,
 0.12,
 0.0,
 0.0,
 0.11,
 0.039999999999999994,
 -0.03,
 0.04000000000000001,
 0.12,
 -0.13,
 -0.16,
 -0.010000000000000002,
 -0.039999999999999994,
 0.0,
 -0.09,
 0.10999999999999999,
 0.08,
 0.07,
 -0.21000000000000002,
 -0.01999999999999999,
 -0.05000000000000002,
 0.24000000000000002,
 0.030000000000000006,
 -0.04000000000000001,
 -0.05,
 0.07,
 -0.020000000000000004,
 0.03,
 -0.26,
 0.1,
 0.05,
 0.030000000000000002,
 -0.05,
 0.14,
 -0.05,
 -0.11,
 0.09999999999999999,
 0.13999999999999999,
 -0.22,
 0.05,
 -0.09,
 0.29,
 -0.10999999999999999,
 0.1,
 0.1,
 0.06,
 -0.2,
 0.16999999999999998,
 -0.15,
 -0.03,
 0.07,
 0.14,
 0.07999999999999996,
 -0.12,
 0.15000000000000002,
 -0.010000000000000009,
 -0.19999999999999998,
 0.009999999999999981,
 0.08000000000000002,
 0.14,
 -0.11000000000000004,
 0.13,
 0.16000000000000003,
 -0.22000000000000003,
 0.0,
 0.13000000000000006,
 0.07999999999999996,
 -0.010000000000000009,
 -0.06999999999999995,
 0.1399999999999999,
 -0.05999999999999994,
 0.030000000000000027,
 -0.12,
 0.09999999999999998,
 0.06999999999999995,
 -0.10999999999999999,
 0.030000000000000027,
 0.020000000000000018,
 0.08999999999999997,
 0.13,
 0.12]

In [37]:
dt['Temprature Growth'] = tempp_Grth

In [38]:
dt

         Year  Mean  Temprature Growth
Source
GISTEMP  1880 -0.20              -0.20
GISTEMP  1881 -0.12               0.08
GISTEMP  1882 -0.10               0.02
GISTEMP  1883 -0.21              -0.11
GISTEMP  1884 -0.28              -0.07
GISTEMP  1885 -0.32              -0.04
GISTEMP  1886 -0.31               0.01
GISTEMP  1887 -0.33              -0.02
GISTEMP  1888 -0.20               0.13
GISTEMP  1889 -0.12               0.08
GISTEMP  1890 -0.37              -0.25
GISTEMP  1891 -0.24               0.13
GISTEMP  1892 -0.27              -0.03
GISTEMP  1893 -0.30              -0.03
GISTEMP  1894 -0.31              -0.01
GISTEMP  1895 -0.21               0.10
GISTEMP  1896 -0.15               0.06
GISTEMP  1897 -0.11               0.04
GISTEMP  1898 -0.28              -0.17
GISTEMP  1899 -0.16               0.12
GISTEMP  1900 -0.09               0.07
GISTEMP  1901 -0.15              -0.06
GISTEMP  1902 -0.27              -0.12
GISTEMP  1903 -0.35              -0.08
GISTEMP  1904 -0.44              -0.09
GISTEMP  1905 -0.28               0.16
GISTEMP  1906 -0.23               0.05
GISTEMP  1907 -0.40              -0.17
GISTEMP  1908 -0.43              -0.03
GISTEMP  1909 -0.47              -0.04
...       ...   ...                ...
GISTEMP  1987  0.33               0.14
GISTEMP  1988  0.41               0.08
GISTEMP  1989  0.29              -0.12
GISTEMP  1990  0.44               0.15
GISTEMP  1991  0.43              -0.01
GISTEMP  1992  0.23              -0.20
GISTEMP  1993  0.24               0.01
GISTEMP  1994  0.32               0.08
GISTEMP  1995  0.46               0.14
GISTEMP  1996  0.35              -0.11
GISTEMP  1997  0.48               0.13
GISTEMP  1998  0.64               0.16
GISTEMP  1999  0.42              -0.22
GISTEMP  2000  0.42               0.00
GISTEMP  2001  0.55               0.13
GISTEMP  2002  0.63               0.08
GISTEMP  2003  0.62              -0.01
GISTEMP  2004  0.55              -0.07
GISTEMP  2005  0.69               0.14
GISTEMP  2006  0.63              -0.06
GISTEMP  2007  0.66               0.03
GISTEMP  2008  0.54              -0.12
GISTEMP  2009  0.64               0.10
GISTEMP  2010  0.71               0.07
GISTEMP  2011  0.60              -0.11
GISTEMP  2012  0.63               0.03
GISTEMP  2013  0.65               0.02
GISTEMP  2014  0.74               0.09
GISTEMP  2015  0.87               0.13
GISTEMP  2016  0.99               0.12

[137 rows x 3 columns]

In [39]:
dt.to_csv(r'NASA\\tempratureNew.csv')

In [40]:
dsea = pd.read_csv(r'NASA\\sea level.csv')

In [42]:
dsea.head()

,Year,CSIRO Adjusted Sea Level,Lower Error Bound,Upper Error Bound,NOAA Adjusted Sea Level
0,1880,0.000000,-0.952756,0.952756,NaN
1,1881,0.220472,-0.732283,1.173228,NaN
2,1882,-0.440945,-1.346457,0.464567,NaN
3,1883,-0.232283,-1.129921,0.665354,NaN
4,1884,0.590551,-0.283465,1.464567,NaN

In [46]:
dsea = dsea.drop('NOAA Adjusted Sea Level',1)

In [47]:
dsea.head()

   Year  CSIRO Adjusted Sea Level  Lower Error Bound  Upper Error Bound
0  1880                  0.000000          -0.952756           0.952756
1  1881                  0.220472          -0.732283           1.173228
2  1882                 -0.440945          -1.346457           0.464567
3  1883                 -0.232283          -1.129921           0.665354
4  1884                  0.590551          -0.283465           1.464567

In [65]:
x = 0
se_Grth = list()
for y in dsea['CSIRO Adjusted Sea Level']:
    if (x!=0):
        se_Grth.append((y-x)/x)
    else :
        se_Grth.append(0)
    x = y

In [66]:
dsea['Sea Level Growth'] = se_Grth

In [67]:
dsea

,Year,CSIRO Adjusted Sea Level,Lower Error Bound,Upper Error Bound,Sea Level Growth
0,1880,0.000000,-0.952756,0.952756,0.000000
1,1881,0.220472,-0.732283,1.173228,0.000000
2,1882,-0.440945,-1.346457,0.464567,-3.000000
3,1883,-0.232283,-1.129921,0.665354,-0.473214
4,1884,0.590551,-0.283465,1.464567,-3.542373
5,1885,0.531496,-0.330709,1.393701,-0.100000
6,1886,0.437008,-0.381890,1.255906,-0.177778
7,1887,0.216535,-0.602362,1.035433,-0.504505
8,1888,0.299213,-0.519685,1.118110,0.381818
9,1889,0.362205,-0.456693,1.181102,0.210526
10,1890,0.440945,-0.374016,1.255906,0.217391
11,1891,0.374016,-0.440945,1.188976,-0.151786
12,1892,0.500000,-0.314961,1.314961,0.336842
13,1893,0.685039,-0.114173,1.484252,0.370079
14,1894,0.303150,-0.547244,1.153543,-0.557471
15,1895,0.767717,-0.082677,1.618110,1.532468
16,1896,0.468504,-0.366142,1.303150,-0.389744
17,1897,0.673228,-0.145669,1.492126,0.436975
18,1898,1.043307,0.267717,1.818898,0.549708
19,1899,1.338583,0.574803,2.102362,0.283019
20,1900,1.125984,0.405512,1.846457,-0.158824
21,1901,1.110236,0.417323,1.803150,-0.013986
22,1902,1.291339,0.610236,1.972441,0.163121
23,1903,1.606299,0.937008,2.275591,0.243902
24,1904,1.200787,0.535433,1.866142,-0.252451
25,1905,0.984252,0.377953,1.590551,-0.180328
26,1906,1.251969,0.673228,1.830709,0.272000
27,1907,1.196850,0.610236,1.783465,-0.044025
28,1908,1.098425,0.527559,1.669291,-0.082237
29,1909,1.275591,0.700787,1.850394,0.161290
...,...,...,...,...,...
105,1985,5.748031,5.500000,5.996063,-0.065899
106,1986,5.771654,5.523622,6.019685,0.004110
107,1987,5.795276,5.551181,6.039370,0.004093
108,1988,5.980315,5.732283,6.228346,0.031929
109,1989,6.157480,5.905512,6.409449,0.029625
110,1990,6.232283,5.972441,6.492126,0.012148
111,1991,6.334646,6.074803,6.594488,0.016425
112,1992,6.358268,6.094488,6.622047,0.003729
113,1993,6.291339,6.027559,6.555118,-0.010526
114,1994,6.500000,6.236220,6.763780,0.033166
115,1995,6.618110,6.354331,6.881890,0.018171
116,1996,6.787402,6.523622,7.051181,0.025580
117,1997,7.066929,6.803150,7.330709,0.041183
118,1998,6.665354,6.393701,6.937008,-0.056825
119,1999,7.011811,6.736220,7.287402,0.051979
120,2000,7.062992,6.791339,7.334646,0.007299
121,2001,7.287402,7.019685,7.555118,0.031773
122,2002,7.381890,7.110236,7.653543,0.012966
123,2003,7.759843,7.484252,8.035433,0.051200
124,2004,7.740157,7.464567,8.015748,-0.002537
125,2005,7.744094,7.472441,8.015748,0.000509
126,2006,7.917323,7.645669,8.188976,0.022369
127,2007,7.996063,7.712598,8.279528,0.009945
128,2008,8.350394,8.078740,8.622047,0.044313
129,2009,8.586614,8.311024,8.862205,0.028289
130,2010,8.901575,8.618110,9.185039,0.036680
131,2011,8.964567,8.661417,9.267717,0.007077
132,2012,9.326772,8.992126,9.661417,0.040404
133,2013,8.980315,8.622047,9.338583,-0.037146
134,2014,NaN,NaN,NaN,NaN

In [68]:
dsea.rename(columns={"CSIRO Adjusted Sea Level": "Sea Level"})

     Year  Sea Level  Lower Error Bound  Upper Error Bound  Sea Level Growth
0    1880   0.000000          -0.952756           0.952756          0.000000
1    1881   0.220472          -0.732283           1.173228          0.000000
2    1882  -0.440945          -1.346457           0.464567         -3.000000
3    1883  -0.232283          -1.129921           0.665354         -0.473214
4    1884   0.590551          -0.283465           1.464567         -3.542373
5    1885   0.531496          -0.330709           1.393701         -0.100000
6    1886   0.437008          -0.381890           1.255906         -0.177778
7    1887   0.216535          -0.602362           1.035433         -0.504505
8    1888   0.299213          -0.519685           1.118110          0.381818
9    1889   0.362205          -0.456693           1.181102          0.210526
10   1890   0.440945          -0.374016           1.255906          0.217391
11   1891   0.374016          -0.440945           1.188976         -0.151786
12   1892   0.500000          -0.314961           1.314961          0.336842
13   1893   0.685039          -0.114173           1.484252          0.370079
14   1894   0.303150          -0.547244           1.153543         -0.557471
15   1895   0.767717          -0.082677           1.618110          1.532468
16   1896   0.468504          -0.366142           1.303150         -0.389744
17   1897   0.673228          -0.145669           1.492126          0.436975
18   1898   1.043307           0.267717           1.818898          0.549708
19   1899   1.338583           0.574803           2.102362          0.283019
20   1900   1.125984           0.405512           1.846457         -0.158824
21   1901   1.110236           0.417323           1.803150         -0.013986
22   1902   1.291339           0.610236           1.972441          0.163121
23   1903   1.606299           0.937008           2.275591          0.243902
24   1904   1.200787           0.535433           1.866142         -0.252451
25   1905   0.984252           0.377953           1.590551         -0.180328
26   1906   1.251969           0.673228           1.830709          0.272000
27   1907   1.196850           0.610236           1.783465         -0.044025
28   1908   1.098425           0.527559           1.669291         -0.082237
29   1909   1.275591           0.700787           1.850394          0.161290
..    ...        ...                ...                ...               ...
105  1985   5.748031           5.500000           5.996063         -0.065899
106  1986   5.771654           5.523622           6.019685          0.004110
107  1987   5.795276           5.551181           6.039370          0.004093
108  1988   5.980315           5.732283           6.228346          0.031929
109  1989   6.157480           5.905512           6.409449          0.029625
110  1990   6.232283           5.972441           6.492126          0.012148
111  1991   6.334646           6.074803           6.594488          0.016425
112  1992   6.358268           6.094488           6.622047          0.003729
113  1993   6.291339           6.027559           6.555118         -0.010526
114  1994   6.500000           6.236220           6.763780          0.033166
115  1995   6.618110           6.354331           6.881890          0.018171
116  1996   6.787402           6.523622           7.051181          0.025580
117  1997   7.066929           6.803150           7.330709          0.041183
118  1998   6.665354           6.393701           6.937008         -0.056825
119  1999   7.011811           6.736220           7.287402          0.051979
120  2000   7.062992           6.791339           7.334646          0.007299
121  2001   7.287402           7.019685           7.555118          0.031773
122  2002   7.381890           7.110236           7.653543          0.012966
123  2003   7.759843           7.484252           8.035433          0.051200
124  2004   7.740157           7.464567           8.015748         -0.002537
125  2005   7.744094           7.472441           8.015748          0.000509
126  2006   7.917323           7.645669           8.188976          0.022369
127  2007   7.996063           7.712598           8.279528          0.009945
128  2008   8.350394           8.078740           8.622047          0.044313
129  2009   8.586614           8.311024           8.862205          0.028289
130  2010   8.901575           8.618110           9.185039          0.036680
131  2011   8.964567           8.661417           9.267717          0.007077
132  2012   9.326772           8.992126           9.661417          0.040404
133  2013   8.980315           8.622047           9.338583         -0.037146
134  2014        NaN                NaN                NaN               NaN

[135 rows x 5 columns]

In [69]:
dsea.to_csv(r'NASA\\Sea Level New.csv')

In [70]:
dpop = pd.read_csv(r'NASA\\population.csv')

In [71]:
dpop.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Y1960,Y1961,Y1962,Y1963,Y1964,Y1965,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101455.0,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,...,28394813.0,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,...,22514281.0,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84463.0,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0

In [88]:
years = []
for x in range(1960, 2019):
    years.append(x)

In [89]:
years

[1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018]

In [ ]:
data = {'Year': [], 
        'Population': []} 
dnew = pd.DataFrame(data)

In [93]:
population = []
for index, row in dpop.iterrows():
    for x in range(1960, 2019):
        population.append(row['Y'+str(x)])
    data = {'Year': years, 
        'Population': population}
    dnew = pd.DataFrame(data)
    dnew.to_csv(r'NASA\\new\\'+str(row['Country Name'])+'.csv')
    dnew = dnew.iloc[0:0]
    population.clear()

In [104]:
dpopA = pd.read_csv(r'NASA\\new\\Maldives.csv')

In [106]:
dpopA.head()

   Unnamed: 0  Year  Population
0           0  1960     89863.0
1           1  1961     92325.0
2           2  1962     94905.0
3           3  1963     97551.0
4           4  1964    100171.0

In [107]:
x = 0
new_Grth = list()
for y in dpopA['Population']:
    if (x!=0):
        new_Grth.append((y-x)/x)
    else :
        new_Grth.append(0)
    x = y

In [108]:
dpopA['Population Growth'] = new_Grth

In [109]:
dpopA

    Unnamed: 0  Year  Population  Population Growth
0            0  1960     89863.0           0.000000
1            1  1961     92325.0           0.027397
2            2  1962     94905.0           0.027945
3            3  1963     97551.0           0.027881
4            4  1964    100171.0           0.026858
5            5  1965    102718.0           0.025427
6            6  1966    105136.0           0.023540
7            7  1967    107478.0           0.022276
8            8  1968    109891.0           0.022451
9            9  1969    112582.0           0.024488
10          10  1970    115691.0           0.027615
11          11  1971    119302.0           0.031212
12          12  1972    123354.0           0.033964
13          13  1973    127701.0           0.035240
14          14  1974    132104.0           0.034479
15          15  1975    136417.0           0.032649
16          16  1976    140563.0           0.030392
17          17  1977    144631.0           0.028941
18          18  1978    148780.0           0.028687
19          19  1979    153276.0           0.030219
20          20  1980    158272.0           0.032595
21          21  1981    163824.0           0.035079
22          22  1982    169851.0           0.036789
23          23  1983    176244.0           0.037639
24          24  1984    182850.0           0.037482
25          25  1985    189537.0           0.036571
26          26  1986    196264.0           0.035492
27          27  1987    203028.0           0.034464
28          28  1988    209785.0           0.033281
29          29  1989    216510.0           0.032057
30          30  1990    223158.0           0.030705
31          31  1991    229751.0           0.029544
32          32  1992    236265.0           0.028352
33          33  1993    242605.0           0.026834
34          34  1994    248588.0           0.024661
35          35  1995    254139.0           0.022330
36          36  1996    259183.0           0.019847
37          37  1997    263842.0           0.017976
38          38  1998    268455.0           0.017484
39          39  1999    273527.0           0.018893
40          40  2000    279398.0           0.021464
41          41  2001    286306.0           0.024725
42          42  2002    294186.0           0.027523
43          43  2003    302683.0           0.028883
44          44  2004    311265.0           0.028353
45          45  2005    319608.0           0.026804
46          46  2006    327487.0           0.024652
47          47  2007    335169.0           0.023457
48          48  2008    343452.0           0.024713
49          49  2009    353398.0           0.028959
50          50  2010    365734.0           0.034907
51          51  2011    380495.0           0.040360
52          52  2012    397237.0           0.044001
53          53  2013    415593.0           0.046209
54          54  2014    435015.0           0.046733
55          55  2015    454915.0           0.045746
56          56  2016    475513.0           0.045279
57          57  2017    496402.0           0.043929
58          58  2018    515696.0           0.038868

In [110]:
dpopA.to_csv(r'NASA\\new\\Maldives.csv')